@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer {
  :root {
    --primary: #1d2135;
    --secondary: #e1e2ea;
    --select: #e0f3ef;
    --accent-green: #0de7b9;
    --accent-blue: #1471f2;
  }
}
@layer components {
  .col {
    @apply flex flex-col;
  }
  .center {
    @apply flex justify-center items-center;
  }
  .link {
    @apply text-lg hover:font-bold underline;
  }
  .h1 {
    @apply lg:text-4xl text-2xl   font-bold font-roboto;
  }
  .h2 {
    @apply text-3xl font-bold font-roboto;
  }
  .h3 {
    @apply text-2xl font-bold font-roboto;
  }

  .pageLayout {
    @apply grid lg:grid-cols-[1fr_400px] grid-cols-1 lg:px-40 md:px-20 sm:px-10 px-4 col gap-x-20;
  }

  .catalog {
    @apply grid  w-full h-full grid-cols-1 lg:grid-cols-2  xl:grid-cols-3 gap-2;
  }
  .collection-grid {
    @apply grid  md:grid-cols-collections grid-cols-1 px-5 gap-2 min-h-screen;
  }
}
